<!--//Gooogle+-->
<meta itemprop="name" content="{{ site.name }}"/>
<meta itemprop="description" content="{{ site.description }}"/>
<meta itemprop="image" content="{{"/image250X250.png" | prepend: site.url }}"/>
<!--//Twitter-->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="{{ site.name }}"/>
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}"/>
<meta name="twitter:creator" content="{{ site.name }}"/>
<meta name="twitter:image:src" content="{{"/image250X250.png" | prepend: site.url }}"/>
<meta name="twitter:domain" content="{{ site.name }}"/>
<!--//Facebook-->
<meta property="og:type" content="profile"/>
<meta property="profile:first_name" content="{{ site.name }}"/>
<meta property="profile:username" content="@lambdaclubnet"/>
<meta property="og:title" content="{{ site.title }}"/>
<meta property="og:description" content="{{ site.description }}"/>
<meta property="og:image" content="{{"/image250X250.png" | prepend: site.url }}"/>
<meta property="og:url" content="{{ site.prefix | prepend: site.url }}"/>
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:see_also" content="https://{{ site.name }}/"/>

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ site.name }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{"/image250X250.png" | prepend: site.url }}"/>
